/* About Us Page Style Sheet */
/* Base Style could change something if we need */
body {
    color: #526066;
  }
  
  h2,
  h3 {
    letter-spacing: 0.35em;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  p {
    line-height: 1.6em;
  }
  
  /* overall layout of the page  */

  .l-content {
    margin: 0 auto;
  }
  
  .l-box {
    padding: 0.5em 2em;
  }
  
  /* Menu Bar (we could probably insert media query to the bottom @media...etc) */
  .pure-menu {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  
  .pure-menu-link {
    padding: 0.5em 0.7em;
  }
  
  /* Banner Section Style 
  (Maybe we could add an image here for aesthetic)  */
  .banner {
    background-color: darkred;
    text-align: center;
    background-size: cover;
    height: 200px;
    width: 100%;
    margin-bottom: 3em;
    display: table;
  }
  
  .banner-head {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
    font-size: 2em;
    color: white;
    font-weight: 500;
    text-shadow: 0 1px 1px black;
  }


/* Footer Section Lies Here */

.footer {
    background: black;
    width: 98%;
    height: 200px; 
    margin: 0px auto; 
    margin-left: auto;
    margin-right: auto;
    display: flexbox;
  }
  .footer h3 {
    color: #ddd;
    text-align: center;
  }

#meet-our-team {
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    font-weight: 500;
}
