/* Home Page Style Sheet */
/* Base Style could change something if we need */
a {
  text-decoration: none;
  color: #ddd;
} 
body {
  color: #526066;
}

h2,
h3 {
  letter-spacing: 0.35em;
  text-transform: uppercase;
  font-weight: 600;
}

p {
  line-height: 1.6em;
}

/* overall layout of the page  */

.l-content {
  margin: 0 auto;
}

.l-box {
  padding: 0.5em 2em;
}

/* Menu Bar (we could probably insert media query to the bottom @media...etc) */
.pure-menu {
  background-color: #91a6e9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.pure-menu-link {
  padding: 0.5em 0.7em;
}

/* Banner Section Style 
(Maybe we could add an image here for aesthetic)  */
.banner {
  background-color: darkblue;
  text-align: center;
  background-size: cover;
  height: 200px;
  width: 100%;
  margin-bottom: 3em;
  display: table;
}

.banner-head {
  display: table-cell;
  vertical-align: middle;
  margin-bottom: 0;
  font-size: 2em;
  color: white;
  font-weight: 500;
  text-shadow: 0 1px 1px black;
}

/* Text Box section */
.text-box {
  background: rgba(8, 137, 166, 0.754); 
  text-align: center;
  position: relative;
  padding: 50px;
  margin: 40px;
  width: 85%;
  height: 100%;
  justify-content: center;
}
.text-box-container {
  background-color: #fff;
}
s
  .text-box-head {
      color: black;
      padding-bottom: 0.2em;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-size: 24px;
      text-align: center;
  }

  .text-box-subhead {
      font-weight: normal;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      text-align: center;
  }
  

/* Footer Section Lies Here */

.footer {
  background: black;
  width: 98%;
  height: 200px; 
  margin: 0px auto; 
  margin-left: auto;
  margin-right: auto;
  display: flexbox;
}
.footer h3 {
  color: #ddd;
  text-align: center;
}

#meet-our-team {
  text-align: center;
  text-decoration: none;
  color: aliceblue;
  font-size: 20px;
  font-weight: 500;
}

/* Media Query responsive to mobile phone */

@media screen and  (max-width:550px) {
  .pure-menu{
      width: auto;
  }
  .banner{
      width: auto;
  }
  .text-box {
    width: auto;
  }
  .footer {
    width: auto;
    height: auto;
  }
}