/* Home Page Style Sheet */
/* Base Style could change something if we need */




a {
  text-decoration: none;
  color: #ddd;
} 
img {
border-color: red;
border-style: dotted solid;
margin: 25px;
justify-content: space-around;
border-top-color: #f439f4;
border-bottom-color: #f439f4;

}
main{
background-color: black;
}


body {
  color: #526066;
}

h2,
h3 {
  letter-spacing: 0.35em;
  text-transform: uppercase;
  font-weight: 600;
}

p {
  line-height: 1.6em;
}

/* overall layout of the page  */

.l-content {
  margin: 0 auto;
}

.l-box {
  padding: 0.5em 2em;
}

/* Menu Bar (we could probably insert media query to the bottom @media...etc) */
.pure-menu {
  background-color: #91a6e9;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.pure-menu-link {
  padding: 0.5em 0.7em;
}

/* Banner Section Style 
(Maybe we could add an image here for aesthetic)  */
.banner {
  background-color: darkblue;
  text-align: center;
  background-size: cover;
  height: 200px;
  width: 100%;
  /* margin-bottom: 3em; */
  display: table;
  background-image: url("../images/header.webp");
  background-size:contain;
}

.banner-head {
  display: table-cell;
  vertical-align: middle;
  margin-bottom: 0;
  font-size: 2rem;
  color: #FFD700;
  font-weight: bold;
  text-shadow: 0 1px 1px black;
  object-fit:cover;
}

/* Superhero generator container Is Right Here */

.my-container{
  width: 90%;
  height: 200px; 
  margin: 0px auto; 
  margin-left: auto;
  margin-right: auto; 
  font-size: 15px;
  font-weight: 400;
  max-width: 100%;
  max-height:100%;
  background-size:cover;
  text-align: center; 
  color: white; 
  background-color: hsl(242deg, 100%, 89%, 30%);
  display: flex;
  justify-content: center;
align-items: center;
}

.form-label,
#movie-image {
  letter-spacing: 0.25em;
  font-weight: 800;
}

/*Back to top button*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: orange; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}


/* Footer Section Lies Here */

.footer {
  background-color: black;
  width: auto;
  height: 200px; 
  margin: 0px auto; 
  margin-left: auto;
  margin-right: auto;
  display: flexbox;
  text-align: center;
  color: white
}

.footer h3 {
  color: #ddd;

}

#meet-our-team {
  text-align: left;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

#names-format li {
  flex: wrap;
  text-align: left;
  align-items: left;
  list-style: none;
  padding-left:45%;
}

#image-caption {
 letter-spacing:0em !important;
}

/* These are for the movie-results page: */
#movie-info {
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  
  background-color: black;
}

#poster-box {
  /* position: absolute; */
margin-left: auto;
margin-right: auto;
text-align: center;
float:left;
flex: 1 1 auto;
display: block;

} 
#poster-img {

width: 80%;
}

#movie-details {
  display: relative;
  flex: auto;
  flex-wrap: wrap;
  /* position:relative; */
  align-items: flex-start;
  font-style: bold;
  font-size: x-large;
  font-weight: 500;
  color: white;
  align-content: flex-start;
  padding-top: 10%;
  margin: 20px;
  /* margin-bottom:  200px; */
  /* height: inherit; */
  
}

#movie-details h1 {
 padding-right:20% ;
 font-size: x-large;
 font-weight: 500;
 text-decoration: underline red;
 

}

#movie-details p {
   font-size:large;
   font-style: bold;
   color: yellow !important;
}

#movie-details span {

  font-style:normal;
  color: white;
}

#gif-box {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  
}

#gif-box img {
  max-width: 350px;
  margin: 5px !important;
}

/* These are for the favorites page */


#favorite-movies {
  display: flex;
  flex-wrap: wrap;
  flex:auto;
  width: 90%;
  margin: auto;
  flex-basis: 100%;
  text-align: center;
}

#movie-box{
  display: flex;
  /* width: 90%; */
  text-align: center;
  flex-wrap: wrap;
  display: inline-block;
  flex-basis: 100%;
  border-color: red;
border-style: dotted solid;
margin: 10px;
border-top-color: #f439f4;
border-bottom-color: #f439f4;
}

#movie-box p {
  color: white;
  font-size: 24px;
  margin: auto;
}

/* About Us Page */
.text-box {
  background: rgba(8, 137, 166, 0.754); 
  text-align: center;
  
  position: relative;
  padding: 50px;
  margin: auto;
  width: 85%;
  height: 100%;
  justify-content: center;
  display: flex;
  flex: auto;
  flex-wrap: wrap;
}

.text-box-head {
  color: black;
  padding-bottom: 0.2em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 24px;
  text-align: center;
}
.text-box-container {
  background-color: #fff;
}

.text-box-subhead {
  font-weight: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: orange; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

/* Media Query responsive to mobile phone */

@media screen and  (max-width:550px) {

  
.pure-menu{
    width: auto;
}

#favorite-movies p {
  font-size: large;
}



#movie-info-card a img {
    align-items: center;
    margin: 10% !important;
}


#movie-box a img {
  align-items: center;
    margin: 5px !important;
    width: 250px;
    height: auto;
}

#remove-movie-button {
  width: 200px;
}

#movie-details {
  display: block;
}

.my-container {
  width: auto;
}
.form-label {
  width: auto;
}
.footer {
  width: auto;
  height: auto;
}

.text-box {
  padding: 25px ;
  

}

}
